@model IEnumerable<Office>

@{
    ViewData["Office"] = "List of office";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.City)</th>
                    <th>@Html.DisplayNameFor(model => model.Phone)</th>
                    <th>@Html.DisplayNameFor(model => model.Address1)</th>
                    <th>@Html.DisplayNameFor(model => model.Address2)</th>
                    <th>@Html.DisplayNameFor(model => model.State)</th>
                    <th>@Html.DisplayNameFor(model => model.Country)</th>
                    <th>@Html.DisplayNameFor(model => model.PostalCode)</th>
                    <th>@Html.DisplayNameFor(model => model.Territory)</th>
                    <th>Actions)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td class="text-start small">@Html.DisplayFor(modelItem => item.City)</td>
                        <td class="text-start small">@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td class="text-start small">@Html.DisplayFor(modelItem => item.Address1)</td>
                        <td class="text-start small">@Html.DisplayFor(modelItem => item.Address2)</td>
                        <td class="text-start small">@Html.DisplayFor(modelItem => item.State)</td>
                        <td class="text-start small">@Html.DisplayFor(modelItem => item.Country)</td>
                        <td class="text-start small">@Html.DisplayFor(modelItem => item.PostalCode)</td>
                        <td class="text-start small">@Html.DisplayFor(modelItem => item.Territory)</td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary">
                            <i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn btn-outline-info"><i class="bi bi-info-circle-fill"></i>Details</a>
                            <a class="btn btn-outline-danger"><i class="bi bi-trash3"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
